In [1]:
library(readxl)
library(dplyr)
customer_r <- read_excel("customer_r.xlsx")
reservation_r <- read_excel("reservation_r.xlsx")
order_info_r <- read_excel("order_info_r.xlsx")
item_r <- read_excel("item_r.xlsx")
colnames(customer_r) <- tolower(colnames(customer_r))
colnames(reservation_r) <- tolower(colnames(reservation_r))
colnames(order_info_r) <- tolower(colnames(order_info_r))
colnames(item_r) <- tolower(colnames(item_r))

Warning message:
"package 'readxl' was built under R version 3.6.3"Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
df_rsv_customer <- reservation_r %>%
select(customer_id, reserv_no) %>%
    arrange(customer_id, reserv_no)

head(df_rsv_customer)

  customer_id reserv_no
1 W1327595    2019061801
2 W1327595    2019071801
3 W1327803    2019060301
4 W1327803    2019091506
5 W1328432    2019060601
6 W1328432    2019060701

In [4]:
df_steak_order_rsv_no  <-  order_info_r %>%
filter(item_id == "M0005") %>%
mutate(steak_order = "Y") %>%
arrange(reserv_no)

head(df_steak_order_rsv_no)

  order_no           item_id reserv_no  quantity sales  steak_order
1 190603578341100100 M0005   2019060301 4        140000 Y
2 190606607189610010 M0005   2019060601 4        140000 Y
3 190616137200510010 M0005   2019061601 3        105000 Y
4 190708517202310010 M0005   2019070801 2         70000 Y
5 190710578348100100 M0005   2019071002 3        105000 Y
6 190718107186310010 M0005   2019071801 4        140000 Y

In [15]:
df_steak_order_1 <- left_join(df_rsv_customer, df_steak_order_rsv_no, by = "reserv_no") %>%
    group_by(customer_id) %>%                                       # 고객 번호로 그룹화하여(182명)
    mutate(steak_order = ifelse(is.na(steak_order), "N", "Y")) %>%  # 주문 여부가 NA이면 N, Y이면 Y로 바꿈
    summarise(steak_order = max (steak_order)) %>%                  # 최댓값만 취함
    arrange(customer_id)
df_dpd_var <-  df_steak_order_1
df_dpd_var

    customer_id steak_order
1   W1327595    Y
2   W1327803    Y
3   W1328432    Y
4   W1328505    N
5   W1328786    N
6   W1328985    Y
7   W1328993    Y
8   W1329560    N
9   W1329954    N
10  W1329962    N
11  W1330024    N
12  W1330210    N
13  W1330211    N
14  W1330463    N
15  W1330464    Y
16  W1331022    N
17  W1331023    Y
18  W1331028    N
19  W1331108    N
20  W1331124    Y
21  W1331302    Y
22  W1331712    N
23  W1332641    N
24  W1333008    N
25  W1333222    Y
26  W1333818    N
27  W1334298    N
28  W1334299    Y
29  W1334366    Y
30  W1334489    N
... ...         ...
153 W350187     Y
154 W350248     Y
155 W350464     Y
156 W350657     Y
157 W351511     N
158 W351513     N
159 W353411     Y
160 W354392     Y
161 W354554     N
162 W355440     N
163 W356665     Y
164 W357565     N
165 W359004     N
166 W359156     N
167 W359586     N
168 W363413     N
169 W363739     Y
170 W365779     N
171 W366551     N
172 W366641     Y
173 W367946     N
174 W368037     Y
175 W370526     N
176 W370765     Y
177 W371982     N
178 W373103     Y
179 W373150     N
180 W374992     N
181 W375192     Y
182 W376429     N

In [19]:
df_customer <- customer_r %>% filter(!is.na(sex_code))

In [22]:
df_table_join_1  <-  inner_join(df_customer,reservation_r , by = "customer_id")

In [23]:
df_table_join_2  <-  inner_join (df_table_join_1,order_info_r, by="reserv_no")
str(df_table_join_2)

tibble [322 x 19] (S3: tbl_df/tbl/data.frame)
 $ customer_id   : chr [1:322] "W1346506" "W1347648" "W1347756" "W1347984" ...
 $ customer_name : chr [1:322] "고객71" "고객72" "고객73" "고객74" ...
 $ phone_number  : chr [1:322] "010-1111-1181" "010-1111-1182" "010-1111-1183" "010-1111-1184" ...
 $ email         : chr [1:322] "scust71@sfnb.co.kr" "scust72@sfnb.co.kr" "scust73@sfnb.co.kr" "scust74@sfnb.co.kr" ...
 $ first_reg_date: chr [1:322] "19/09/01" "19/09/04" "19/09/05" "19/09/06" ...
 $ sex_code      : chr [1:322] "F" "M" "M" "M" ...
 $ birth         : chr [1:322] "19820922" "19940812" "19931217" "19810822" ...
 $ job           : chr [1:322] "자영업" "학생" NA "자영업" ...
 $ zip_code      : chr [1:322] "122100" "140100" "152100" "130100" ...
 $ reserv_no     : chr [1:322] "2019102002" "2019092301" "2019111301" "2019120201" ...
 $ reserv_date   : chr [1:322] "20191020" "20190923" "20191113" "20191202" ...
 $ reserv_time   : chr [1:322] "1800" "1800" "1200" "1200" ...
 $ branch        : chr [1:322] "중구" "강남" "중구" "송파" ...
 $ visitor_cnt   : num [1:322] 2 1 2 3 2 2 2 2 1 2 ...
 $ cancel        : chr [1:322] "N" "N" "N" "N" ...
 $ order_no      : chr [1:322] "191020573101100100" "190923567847010020" "191113607314510010" "191202107316910010" ...
 $ item_id       : chr [1:322] "M0002" "M0001" "M0003" "M0010" ...
 $ quantity      : num [1:322] 2 1 2 3 2 2 1 1 1 2 ...
 $ sales         : num [1:322] 24000 24000 34000 18000 70000 70000 17000 17000 10000 24000 ...